<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.grandpa_demon/GrD_demon0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{160,181}</string>
			<key>spriteSourceSize</key>
			<string>{160,190}</string>
			<key>textureRect</key>
			<string>{{0,0},{160,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon0_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{197,218}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{183,0},{197,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{160,182}</string>
			<key>spriteSourceSize</key>
			<string>{160,190}</string>
			<key>textureRect</key>
			<string>{{403,0},{160,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{201,218}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{403,162},{201,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{160,181}</string>
			<key>spriteSourceSize</key>
			<string>{160,190}</string>
			<key>textureRect</key>
			<string>{{0,162},{160,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{239,217}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{183,199},{239,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{166,181}</string>
			<key>spriteSourceSize</key>
			<string>{166,190}</string>
			<key>textureRect</key>
			<string>{{0,324},{166,181}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{217,218}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{402,365},{217,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{166,182}</string>
			<key>spriteSourceSize</key>
			<string>{166,190}</string>
			<key>textureRect</key>
			<string>{{183,440},{166,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_infinity.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,125}</string>
			<key>spriteSourceSize</key>
			<string>{250,125}</string>
			<key>textureRect</key>
			<string>{{623,0},{212,125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-14}</string>
			<key>spriteSize</key>
			<string>{182,218}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{367,584},{182,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{166,199}</string>
			<key>spriteSourceSize</key>
			<string>{166,208}</string>
			<key>textureRect</key>
			<string>{{0,492},{166,199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{199,244}</string>
			<key>spriteSourceSize</key>
			<string>{246,246}</string>
			<key>textureRect</key>
			<string>{{0,693},{199,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-uhd.png</string>
		<key>size</key>
		<string>{748,892}</string>
		<key>textureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-uhd.png</string>
	</dict>
</dict>
</plist>