<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.grandpa_demon/GrD_demon0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,93}</string>
			<key>spriteSourceSize</key>
			<string>{80,95}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon0_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{103,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{95,0},{103,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,93}</string>
			<key>spriteSourceSize</key>
			<string>{80,95}</string>
			<key>textureRect</key>
			<string>{{208,0},{80,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon1_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{105,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{208,82},{105,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,93}</string>
			<key>spriteSourceSize</key>
			<string>{80,95}</string>
			<key>textureRect</key>
			<string>{{0,82},{80,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon2_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{123,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{95,105},{123,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{83,93}</string>
			<key>spriteSourceSize</key>
			<string>{83,95}</string>
			<key>textureRect</key>
			<string>{{0,164},{83,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon3_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-6}</string>
			<key>spriteSize</key>
			<string>{112,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{208,189},{112,111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{83,93}</string>
			<key>spriteSourceSize</key>
			<string>{83,95}</string>
			<key>textureRect</key>
			<string>{{95,230},{83,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_infinity.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{107,62}</string>
			<key>spriteSourceSize</key>
			<string>{125,62}</string>
			<key>textureRect</key>
			<string>{{0,249},{107,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon4_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{95,111}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{190,302},{95,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{83,102}</string>
			<key>spriteSourceSize</key>
			<string>{83,104}</string>
			<key>textureRect</key>
			<string>{{64,315},{83,102}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.grandpa_demon/GrD_demon5_text.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{104,122}</string>
			<key>spriteSourceSize</key>
			<string>{123,123}</string>
			<key>textureRect</key>
			<string>{{168,399},{104,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-hd.png</string>
		<key>size</key>
		<string>{320,503}</string>
		<key>textureFileName</key>
		<string>itzkiba.grandpa_demon/GrD_IconSheet-hd.png</string>
	</dict>
</dict>
</plist>